<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Website</key>
	<string>http://yifanslab.cn/TVCalendarAPI/index.php/Api/</string>
	<key>Paths</key>
	<dict>
		<key>Register</key>
		<string>mobileRegister/</string>
		<key>FavouriteShows</key>
		<string>myshows/</string>
		<key>AllShows</key>
		<string>showFilter/</string>
		<key>LoginByPassword</key>
		<string>loginByPassword/</string>
		<key>DailyEpisodes</key>
		<string>SelectOneDateEp/</string>
		<key>MyDailyEpisodes</key>
		<string>selectOneDateEpWithUid/</string>
		<key>MarkEpAsWatched</key>
		<string>synchron/</string>
		<key>UnMarkEpAsWatched</key>
		<string>unsynchron/</string>
		<key>AddShowToFavourites</key>
		<string>subscribe/</string>
		<key>RemoveShowFromFavourites</key>
		<string>unsubscribe/</string>
		<key>ShowDetail</key>
		<string>getShowDetailsWithId/</string>
	</dict>
	<key>Success Code</key>
	<integer>1</integer>
	<key>Error Code</key>
	<integer>2</integer>
</dict>
</plist>
